html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Onest", sans-serif;
}

.container {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.menu {
  margin-right: auto;
  margin-left: 157px;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.header__btn {
  display: flex;
  flex-direction: column;
  width: 48px;
  gap: 8px;
  margin-left: 105px;
}

.header__btn span {
  height: 2px;
  background-color: #fff;
}

.menu__lang {
  display: flex;
  gap: 5px;
}

.menu__link {
  transition: all 0.5s;
}

.menu__link:hover {
  color: #0082fb;
}

.top {
  background-image: url("/images/bg.jpg");
  height: 100vh;
  background-size: cover;
}

.top__inner {
  padding-top: 200px;
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top__content {
  display: flex;
}

.top__title {
  font-size: 200px;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: 700;
}

.top__title span {
  display: block;
  padding-left: 200px;
}

.top__text {
  max-width: 368px;
  text-align: right;
  margin-left: auto;
}

.top__info {
  display: flex;
  margin-top: auto;
  align-items: end;
}

.top__explore {
  margin-left: auto;
}

.top__info-list {
  display: flex;
  gap: 80px;
  font-weight: 600;
}

dt {
  font-size: 64px;
  line-height: 70px;
}

dd {
  font-size: 32px;
  text-transform: capitalize;
}

.top__explore {
  display: flex;
  gap: 33px;
  align-items: end;
  margin-left: auto;
}

.top__explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.top__explore-btn::before,
.top__explore-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

.top__explore-btn::before {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 130, 251, 0.1) 20.19%,
    rgba(255, 255, 255, 0.6) 100%
  );
  transition: opacity 1s ease-in-out;
  z-index: 1;
  opacity: 1;
}

.top__explore-btn:hover::after {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 130, 251, 0.1) 0%,
    rgba(0, 130, 251, 0.6) 100%
  );
  opacity: 1;
}

.top__explore-btn:hover::before {
  opacity: 0;
}

.top__box {
  width: 320px;
  height: 320px;
  background-color: rgba(5, 12, 60, 0.5);
  border-radius: 20px;
  position: relative;
}

.top__box-item {
  position: absolute;
  left: 38px;
  top: 70px;
}

#canvas {
  background-color: transparent;
}
